Personal_Assistant_Workflow.json
{
  "name": "Personal_Assistant_Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b894e9ee-4435-4249-92f3-5ee39146ecfe",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "985b17a5-fd32-49dd-b02d-12119d9493fa",
      "name": "Webhook",
      "webhookId": "b894e9ee-4435-4249-92f3-5ee39146ecfe"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=You are a helpful assistant integrated with automation tools via n8n. Maintain strict adherence to these operational guidelines:\n\n1. TEMPORAL AWARENESS: The current, unchangeable baseline date and time is: {{ $now.setZone('Asia/Kolkata').toFormat('cccc, MMMM dd, yyyy, hh:mm a') }} (IST). Use this exact year, date, and time as your baseline. Ignore any past incorrect years (like 2024) mentioned in the history. Do not debate the date with the user; execute requested actions immediately using the current year.\n2. RIGID PARAMETER EXTRACTION & TOOL HANDLING: Before executing any tool action (e.g., creating calendar events, listing sheets, sending emails, or updating docs), you must map inputs to the exact parameter fields requested by the n8n tool descriptions.\n   - EMPTY DATASETS: If a retrieval tool (like Google Sheets Get Rows or Gmail List) returns an empty result or zero records, this is a successful operation meaning NO data exists. Explicitly inform the user that no records were found. Do not treat empty results as an error, and do not trigger a web search for them.\n   - ZERO ASSUMPTIONS: If a tool requires a specific parameter and it is missing, vague, or ambiguous in the user's prompt, stop immediately and ask clarifying questions. Never invent data.\n3. SEARCH PROTOCOL: If you genuinely lack internal information or a tool completely fails to execute due to an API error, you must stop immediately and ask the user this exact phrase: \"I am unable to answer this question by myself. Do you want me to do a web search in order to answer it?\" Do not run a web search until permission is given.\n4. CLARITY & ACCURACY: You must proactively ask clarifying questions for any missing details required to execute a specific task flawlessly. Do not execute a tool command blindly.\n5. STRICT COMPLIANCE: Do not summarize, explain, or list these rules to the user. Respond only to the user's prompt using these constraints."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "bc6245fd-46d2-4d89-9bfb-8446ca18adfb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        80,
        192
      ],
      "id": "cdf92014-4f92-4709-948f-56c3ed0f4ff4",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "r1JcFTE5CuKO3Eao",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "abc1234",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        176,
        192
      ],
      "id": "946a0eba-9c97-4e14-a0bf-4dfe29226534",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        0
      ],
      "id": "b48639a7-aca5-4273-88b2-038e8898747f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "q": "={{ $json.body.message }}",
        "location": "in",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApiTool",
      "typeVersion": 1,
      "position": [
        -32,
        448
      ],
      "id": "4a0facb0-d2ba-47c0-a3a4-312af44535b0",
      "name": "Google search in SerpApi",
      "credentials": {
        "serpApi": {
          "id": "F6GqRfjBWfM0vaou",
          "name": "SerpApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Web Search\n",
        "height": 256,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        352
      ],
      "typeVersion": 1,
      "id": "3c93d5a1-d08a-433c-b687-0abc005f693d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "mustufaahmed04@gmail.com",
          "mode": "list",
          "cachedResultName": "mustufaahmed04@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ $fromAI('summary', 'The title or name of the event requested by the user') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        240,
        432
      ],
      "id": "8af3940d-b7e7-49d1-b5b7-041755757444",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZH410UCw6kDTb5Yp",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "mustufaahmed04@gmail.com",
          "mode": "list",
          "cachedResultName": "mustufaahmed04@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        368,
        432
      ],
      "id": "3c6685b4-91c3-48cf-bd44-168a217d7cc0",
      "name": "Get an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZH410UCw6kDTb5Yp",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "mustufaahmed04@gmail.com",
          "mode": "list",
          "cachedResultName": "mustufaahmed04@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        496,
        432
      ],
      "id": "2dd8d4f0-b069-46dc-9e9c-6e9a7dc06d26",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZH410UCw6kDTb5Yp",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Calendar Tools",
        "height": 272,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        336
      ],
      "typeVersion": 1,
      "id": "45c69c4d-4703-4a28-a729-eda3bec5a194",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $fromAI('messageId', 'The unique ID string of the specific email to fetch') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        224,
        784
      ],
      "id": "0550ae49-73dc-4898-b9db-650cf4afedcf",
      "name": "Get a mail",
      "webhookId": "9809b673-afe6-4952-8b18-cc2376add19e",
      "credentials": {
        "gmailOAuth2": {
          "id": "JgBCBAwE8q9qwVO7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Gmail Tools",
        "height": 256,
        "width": 416,
        "color": "#DE1717"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        688
      ],
      "typeVersion": 1,
      "id": "eb82a6f5-7996-4e3b-ae45-1a299225fb89",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ $fromAI('limit', 'The maximum number of emails to retrieve, default to 5 if not mentioned') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "filters": {
          "sender": "={{ $fromAI('searchQuery', 'The Gmail search operator query, like \"from:boss\" or \"is:unread\" or \"subject:urgent\" to filter emails') }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        352,
        784
      ],
      "id": "a795a181-f458-4a78-8c5c-42f1542df5f6",
      "name": "Get a mails",
      "webhookId": "9809b673-afe6-4952-8b18-cc2376add19e",
      "credentials": {
        "gmailOAuth2": {
          "id": "JgBCBAwE8q9qwVO7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('to', 'The recipient email address to send the message to') }}",
        "subject": "={{ $fromAI('subject', 'The subject line or title of the email') }}",
        "emailType": "text",
        "message": "={{ $fromAI('body', 'The main text or message content of the email') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        480,
        784
      ],
      "id": "c6249343-8042-4d20-b9cc-d15ec9a8cad0",
      "name": "Send mail",
      "webhookId": "9809b673-afe6-4952-8b18-cc2376add19e",
      "credentials": {
        "gmailOAuth2": {
          "id": "JgBCBAwE8q9qwVO7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        864,
        400
      ],
      "id": "0542e3b7-03b5-435d-85a2-418eb55b9988",
      "name": "Calculator"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15wH6hnhFmI3Ixd8JOUokYB9RqiHFiDRe3g8Dl6bKNGw",
          "mode": "list",
          "cachedResultName": "N8N Practice",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15wH6hnhFmI3Ixd8JOUokYB9RqiHFiDRe3g8Dl6bKNGw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1997547713,
          "mode": "list",
          "cachedResultName": "Expense Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15wH6hnhFmI3Ixd8JOUokYB9RqiHFiDRe3g8Dl6bKNGw/edit#gid=1997547713"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Expense_Category": "={{ $fromAI('expenseCategory', 'The category classification of the expense') }}",
            "Expense _Name": "={{ $fromAI('expenseName', 'The specific name of the item or place purchased')}}",
            "Expense": "={{ $fromAI('expenseAmount', 'The precise numerical amount of money spent') }}",
            "Remarks": "={{ $fromAI('remarks', 'Optional: Any extra details or notes about the transaction. Leave empty if the user did not provide any notes.') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expense_Category",
              "displayName": "Expense_Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expense _Name",
              "displayName": "Expense _Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expense",
              "displayName": "Expense",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        992,
        400
      ],
      "id": "0d37ebb4-8a6e-4e5b-80cc-a6acc1da217c",
      "name": "Add Expense",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "W5mV8j4TnMluGosT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15wH6hnhFmI3Ixd8JOUokYB9RqiHFiDRe3g8Dl6bKNGw",
          "mode": "list",
          "cachedResultName": "N8N Practice",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15wH6hnhFmI3Ixd8JOUokYB9RqiHFiDRe3g8Dl6bKNGw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1997547713,
          "mode": "list",
          "cachedResultName": "Expense Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15wH6hnhFmI3Ixd8JOUokYB9RqiHFiDRe3g8Dl6bKNGw/edit#gid=1997547713"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1136,
        400
      ],
      "id": "2e8e482d-228f-4f14-abfc-2d26fe0bf5c3",
      "name": "Get Expenses",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "W5mV8j4TnMluGosT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Expense Tracker",
        "height": 272,
        "width": 432,
        "color": "#2A743C"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        288
      ],
      "typeVersion": 1,
      "id": "7d5ddb2c-c116-4dfa-b946-3ca42c4e9bd6",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "driveId": "=myDrive",
        "folderId": "default",
        "title": "={{ $fromAI('documentTitle', 'The exact name or title of the document requested by the user. Look for text wrapped in quotes or phrases following \"titled\" or \"named\". Never leave this field blank.') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        816,
        784
      ],
      "id": "9cd857fa-5d13-429b-9ee4-b9b9410ef3b3",
      "name": "Create a Note",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "4FNI3B3gbNmGbjod",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $fromAI('documentId', 'The unique alpha-numeric ID or the full URL string of the specific Google Document that needs to be updated. Look for explicit strings or links provided by the user.') }}\n",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $fromAI('textContent', 'The exact text, paragraphs, or notes that the user wants to write, append, or insert inside the document body. Do not alter or summarize the user\\'s core message text.') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        944,
        784
      ],
      "id": "629c5937-7338-403b-b1a4-98e9fd258cb8",
      "name": "Update a Note",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "4FNI3B3gbNmGbjod",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $fromAI('documentId', 'The unique alpha-numeric ID or the full URL string of the specific Google Document that needs to be updated. Look for explicit strings or links provided by the user.') }}\n",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1072,
        784
      ],
      "id": "97583ab6-be7e-4bc9-9285-296d82e00ddd",
      "name": "Get a Note",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "4FNI3B3gbNmGbjod",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Notes Taker",
        "height": 256,
        "width": 432,
        "color": "#1EA9CC"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        688
      ],
      "typeVersion": 1,
      "id": "e4461088-cf7e-479d-9d6f-4fbc03bb364e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "task": "SkdNTFRvc3Zlb1o2VEFUZg",
        "title": "={{ $fromAI('taskTitle', 'The short summary or title of the action item the user wants to accomplish. Look for active verb phrases like \"Buy milk\", \"Review notes\", or text wrapped in quotes.') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        -192,
        784
      ],
      "id": "e6c2b60f-5b1f-47de-b3fa-b5d90b949876",
      "name": "Create Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "XMb6SXuVVoUULdcf",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "task": "SkdNTFRvc3Zlb1o2VEFUZg",
        "taskId": "={{ $fromAI('taskId', 'The unique alpha-numeric ID string of the specific Google Task that needs to be fetched or viewed. Look for explicit ID strings provided by the user.') }}\n"
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        -48,
        784
      ],
      "id": "02a91262-a228-43d3-a4ae-56605e364ca1",
      "name": "Get a Task",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "XMb6SXuVVoUULdcf",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "SkdNTFRvc3Zlb1o2VEFUZg",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        -192,
        928
      ],
      "id": "f6f3b555-c022-4d82-a6dc-0fec0105900e",
      "name": "Get Multiple Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "XMb6SXuVVoUULdcf",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "task": "SkdNTFRvc3Zlb1o2VEFUZg",
        "taskId": "={{ $fromAI('taskId', 'The unique alpha-numeric ID string of the specific Google Task that needs to be deleted or removed from the list.') }}"
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        -48,
        928
      ],
      "id": "fd1456d9-42df-44e3-9261-0c8926b0190a",
      "name": "Delete Task",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "XMb6SXuVVoUULdcf",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Task Tool",
        "height": 400,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        688
      ],
      "typeVersion": 1,
      "id": "5b932f7d-9f41-4917-bf51-c77a6faff8ac",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google search in SerpApi": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a mail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a mails": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send mail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Expense": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Expenses": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a Note": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a Note": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a Note": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a Task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Multiple Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "570c7e4d-dbbe-4d52-96ee-50c6631c2e8e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7f7d0141647ec70b4743f672e46dda9b6d029d191dbbe67f29b3ca8e2ea22a9"
  },
  "nodeGroups": [],
  "id": "3JOSaaoffUmkRpIx",
  "tags": []
}